<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <listener>
	<listener-class>
         initializer.Initializer
    </listener-class>
  </listener> 
    
  <servlet>
 <servlet-name>HouseControl</servlet-name>
 <servlet-class>
  com.sun.jersey.spi.container.servlet.ServletContainer
 </servlet-class>
</servlet>


<servlet-mapping>
 <servlet-name>HouseControl</servlet-name>
 <url-pattern>/api/*</url-pattern>
</servlet-mapping>

  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
